/* stylelint-disable  declaration-no-important, property-no-vendor-prefix */

:global{

  html,
  body{
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

  b{
    font-weight: $font-bold;
  }

  .hidden{
    display: none !important;
  }

  body{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    background-color: $base-white;
    color: $main-dark;
    font-size: 16px;
  }

  .mobile-device{
    font-size: 12px;
  }

  /* IE Fix for tap delay and webkit tap highlight fix */

  a,
  label,
  input,
  button{
    -ms-touch-action: manipulation;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
  }
}
