/* CSS Mobile Reset */
*,
*:before,
*:after{
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Font smoothing for webkit */

/* stylelint-disable  property-no-vendor-prefix */

/* Browser Reset */

*{
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.004 );
}

html{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body{
  line-height: 1.2;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  overflow-y: scroll;
}

/* stylelint-enable  */

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 400;
  margin: 0;
}

p{
  margin: 0;
}

button{
  border: none;
  box-shadow: none;
  background: none;
}

img{
  text-align: center;
  color: #828796;
  background-color: #F1F1F1;

  &:before{
    content: "\F235";
    font-family: icons;
    line-height: 1;
    font-size: 50px;
  }

  &:after{
    content: "no image";
    font-size: 0.9em;
    margin-top: -6px;
    display: block;
    text-transform: capitalize;
  }
}

