:global{

  .u-1,
  .u-1-1,
  .u-1-2,
  .u-1-3,
  .u-2-3,
  .u-1-4,
  .u-3-4,
  .u-1-5,
  .u-2-5,
  .u-3-5,
  .u-4-5,
  .u-5-5,
  .u-1-6,
  .u-5-6,
  .u-1-8,
  .u-3-8,
  .u-5-8,
  .u-7-8,
  .u-1-12,
  .u-5-12,
  .u-7-12,
  .u-11-12,
  .u-1-24,
  .u-2-24,
  .u-3-24,
  .u-4-24,
  .u-5-24,
  .u-6-24,
  .u-7-24,
  .u-8-24,
  .u-9-24,
  .u-10-24,
  .u-11-24,
  .u-12-24,
  .u-13-24,
  .u-14-24,
  .u-15-24,
  .u-16-24,
  .u-17-24,
  .u-18-24,
  .u-19-24,
  .u-20-24,
  .u-21-24,
  .u-22-24,
  .u-23-24,
  .u-24-24{
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;

    &.center-block{
      display: block;
    }
  }

  .u-1-24{
    width: 4.1667%;
  }

  .u-1-12,
  .u-2-24{
    width: 8.3333%;
  }

  .u-1-8,
  .u-3-24{
    width: 12.5%;
  }

  .u-1-6,
  .u-4-24{
    width: 16.6667%;
  }

  .u-1-5{
    width: 20%;
  }

  .u-5-24{
    width: 20.8333%;
  }

  .u-1-4,
  .u-6-24{
    width: 25%;
  }

  .u-7-24{
    width: 29.1667%;
  }

  .u-1-3,
  .u-8-24{
    width: 33.3333%;
  }

  .u-3-8,
  .u-9-24{
    width: 37.5%;
  }

  .u-2-5{
    width: 40%;
  }

  .u-5-12,
  .u-10-24{
    width: 41.6667%;
  }

  .u-11-24{
    width: 45.8333%;
  }

  .u-1-2,
  .u-12-24{
    width: 50%;
  }

  .u-13-24{
    width: 54.1667%;
  }

  .u-7-12,
  .u-14-24{
    width: 58.3333%;
  }

  .u-3-5{
    width: 60%;
  }

  .u-5-8,
  .u-15-24{
    width: 62.5%;
  }

  .u-2-3,
  .u-16-24{
    width: 66.6667%;
  }

  .u-17-24{
    width: 70.8333%;
  }

  .u-3-4,
  .u-18-24{
    width: 75%;
  }

  .u-19-24{
    width: 79.1667%;
  }

  .u-4-5{
    width: 80%;
  }

  .u-5-6,
  .u-20-24{
    width: 83.3333%;
  }

  .u-7-8,
  .u-21-24{
    width: 87.5%;
  }

  .u-11-12,
  .u-22-24{
    width: 91.6667%;
  }

  .u-23-24{
    width: 95.8333%;
  }

  .u-1,
  .u-1-1,
  .u-5-5,
  .u-24-24{
    width: 100%;
  }
}
